{
  \"port\": ${FB_PORT:-8080},
  \"baseURL\": \"${FB_BASE_URL:-}\",
  \"address\": \"${FB_ADDRESS:-}\",
  \"log\": \"${FB_LOG_DST:-stdout}\",
  \"database\": \"/config/filebrowser.db\",
  \"root\": \"/data\"
}