Locale=
[EC]
Host=${AMULE_EC_ADDRESS:-127.0.0.1}
Port=${AMULE_EC_ECPORT:-4712}
Password=${AMULE_PASSWORD_HASH:-6e0600b99a12d7e70687f0937a152fd5}
ZLIB=1
ForceZLIB=0
[WebServer]
Port=${AMULE_WEBSERVER_PORT:-4711}
UPnPWebServerEnabled=0
UPnPTCPPort=50001
Template=${AMULE_WEBSERVER_TEMPLATE:-bootstrap}
UseGzip=1
AllowGuest=0
AdminPassword=${AMULE_PASSWORD_HASH:-6e0600b99a12d7e70687f0937a152fd5}
GuestPassword=
PageRefreshTime=120